version: '3.8'

services:
  spring-app:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: ${MONGODB_ATLAS_URI}
      JWT_SECRET: ${JWT_SECRET}
    env_file:
      - .env